BOT_XP_BOSS/node_modules/
BOT_XP_BOSS/config.json
BOT_XP_BOSS/deploy-commands.js
BOT_XP_BOSS/data_miner.py
BOT_XP_BOSS/wordsList.json
BOT_XP_BOSS/wordOfTheDay.json
BOT_XP_BOSS/package.json
BOT_XP_BOSS/package-lock.json
BOT_XP_BOSS/dataminer.js
BOT_XP_BOSS/dataorganizer.js
BOT_XP_BOSS/wordsListDaily.json
BOT_XP_BOSS/wordsListSingle.json
BOT_XP_BOSS/wordfilter.js
BOT_XP_BOSS/output.csv
BOT_XP_BOSS/graphwords.js
BOT_XP_BOSS/wordsListNew - Copy.json
BOT_XP_BOSS/words_alpha.txt
BOT_XP_BOSS/start - Shortcut.lnk
BOT_XP_BOSS/wordsListNew.json
BOT_XP_BOSS/wordsListNew.json
BOT_XP_BOSS/murder.json
BOT_XP_BOSS/xp.json
